@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Quicksand:wght@300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");
.titleSection, #truck h2, #contacto h2, #ubicaciones h2, #productos h2, #nosotros h2 {
  border-bottom: 0.2rem solid;
  bottom: 0;
}

header {
  background: #ec1f26;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .nav {
  height: 6rem;
  display: flex;
  flex-direction: row;
  background: #ec1f26;
}
header .nav button {
  background: #710000;
  border: 0.1rem, black;
}
header .nav #logo {
  font-size: 1.9rem;
  color: #e5bf27;
  height: auto;
}
header .nav ul {
  justify-content: flex-end;
  background: #ec1f26;
}
header .nav ul li {
  font-size: 1.5rem;
}
header .nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

::-webkit-scrollbar {
  display: none;
}

nav #titleLogo {
  font-family: "Satisfy";
  font-size: 2.5rem;
  margin-top: 1rem;
  color: #e5bf27;
}
nav #navbarNav ul li a:hover {
  color: #e5bf27;
}

main {
  overflow-x: hidden;
  background: #f9f1f1;
  font-family: "Poppins";
  /*Title Index*/
}
main section {
  padding: 2rem;
}
main article {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
}
main article p {
  width: 80%;
  padding: 1rem;
  line-height: 3rem;
  font-size: 1.5rem;
}
main article img {
  text-align: right;
  padding-left: 2rem;
  padding-right: 1rem;
  width: 100%;
  height: auto;
}
main h2 {
  width: 30%;
  margin-bottom: 2rem;
}
main h5 {
  color: aliceblue;
  text-align: center;
}
main .contenedor {
  position: relative;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
}
main .contenedor img {
  position: static;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
main .textoEncima {
  position: absolute;
  top: 35%;
  right: 18%;
  color: whitesmoke;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  max-width: 70%;
}
main .textoEncima #sabor {
  color: #e5bf27;
  font-weight: 500;
}

/*Nosotros*/
#nosotros h2 {
  border-bottom-color: #ec1f26;
}

/*Productos*/
#productos h2 {
  border-bottom-color: #e5bf27;
}
#productos h5 {
  color: black;
  font-size: 2rem;
}

/*ubicaciones*/
#ubicaciones h2 {
  border-bottom-color: #710000;
}
#ubicaciones article {
  display: flex;
  flex-direction: column;
}
#ubicaciones article iframe {
  width: 100vw;
  height: 70vh;
}
#ubicaciones article #direcciones {
  margin-top: 1rem;
  align-self: flex-start;
}
#ubicaciones article #direcciones h3 {
  text-align: left;
  font-weight: bold;
}
#ubicaciones article #direcciones div {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
}
#ubicaciones article #direcciones div div:first-of-type {
  padding-right: 30rem;
  padding-left: 2rem;
}

/*contacto*/
#contacto h2 {
  border-bottom-color: #009d00;
}
#contacto article {
  background-color: black;
}
#contacto article p {
  color: white;
}
#contacto article div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
#contacto article div div {
  display: flex;
  flex-direction: row;
}
#contacto article div div a img {
  width: 8.5rem;
  height: 5.7rem;
}
#contacto article div a:hover img {
  width: 9.6rem;
  height: 7rem;
}

/*truck*/
#truck h2 {
  border-bottom-color: #710000;
}
#truck article {
  background-color: black;
  height: 70vh;
}

#truckLogo {
  animation: bounce 0.9s infinite;
}

footer {
  background: #ec1f26;
}

@media screen and (max-width: 400px) {
  #truckLogo {
    width: 16rem;
    height: 14rem;
  }
}
@media screen and (max-width: 520px) {
  /*mobile*/
  header {
    height: 1vh;
  }

  #titulo {
    font-size: 2rem;
    top: 10%;
  }

  /*nav*/
  nav div #logo {
    text-align: center;
    width: 80%;
    padding-left: 4rem;
  }
  nav div #logo img {
    width: 80px;
    height: 70px;
  }
  nav div button {
    width: 10%;
  }

  /*Nosotros*/
  #nosotros h2 {
    width: 100%;
  }
  #nosotros div {
    padding: 0rem;
  }
  #nosotros div p {
    text-align: justify;
    width: 100%;
    margin: 0rem;
  }

  /*productos*/
  #productos h2 {
    width: 100%;
  }
  #productos div {
    padding: 0rem;
  }
  #productos div p {
    text-align: justify;
    width: 100%;
  }

  /*ubicaciones*/
  #ubicaciones h2 {
    width: 100%;
  }
  #ubicaciones article iframe {
    height: 90vh;
  }
  #ubicaciones #direcciones #listaDirec {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
  }
  #ubicaciones #direcciones #listaDirec div {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  #ubicaciones #direcciones #listaDirec div ul {
    margin-top: 0.3;
  }
  #ubicaciones #direcciones #listaDirec div li {
    margin: 0.3rem;
  }

  /*contacto*/
  #contacto h2 {
    width: 100%;
  }
  #contacto article div {
    flex-direction: column;
  }

  #truck h2 {
    width: 100%;
  }
}
/*Burguesas Truck*/
#truck article div {
  width: 100%;
  text-align: center;
}
#truck article a img {
  width: 20.5rem;
  height: 18rem;
}

@media screen and (max-width: 720px) {
  nav #titleLogo {
    display: none;
  }
  nav img {
    width: 80px;
    height: 70px;
  }

  #imgIndex {
    width: auto;
    height: 100%;
  }

  #titulo {
    font-size: 1.5rem;
    top: 20%;
  }
}
@media screen and (max-width: 1024px) {
  #titulo {
    font-size: 4rem;
    top: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
