::-webkit-scrollbar {
    display: none;
}

nav {
    #titleLogo {
        font-family: map-get($fonts, titleFont);
        font-size: 2.5rem;
        margin-top: 1rem;
        color: map-get($colors, secondaryColor);
    }

    #navbarNav {
        ul {
            li {
                a:hover {
                    color: map-get($colors, secondaryColor);
                }
            }
        }
    }
}

main {
    overflow-x: hidden;
    background: map-get($colors, tColor);
    font-family: map-get($fonts, contentFont);

    section {
        padding: 2rem
    }

    article {

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        border-radius: 2rem;


        p {
            width: 80%;
            padding: 1rem;
            line-height: 3rem;
            font-size: 1.5rem;


        }

        img {
            text-align: right;
            padding-left: 2rem;
            padding-right: 1rem;
            width: 100%;
            height: auto;
        }


    }

    h2 {
        width: 30%;
        margin-bottom: 2rem;
    }


    h5 {
        color: aliceblue;
        text-align: center;
    }

    /*Title Index*/
    .contenedor {
        position: relative;
        display: inline-block;
        overflow-x: hidden;
        overflow-y: hidden;

        img {
            position: static;
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
        }
    }

    .textoEncima {
        position: absolute;
        top: 35%;
        right: 18%;
        color: whitesmoke;
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        max-width: 70%;

        #sabor {
            color: map-get($colors , secondaryColor);
            font-weight: 500;
        }
    }

}


/*Nosotros*/
#nosotros {
    h2 {
        @extend .titleSection;
        border-bottom-color: map-get($colors, primaryColor);

    }
}

/*Productos*/
#productos {
    h2 {
        @extend .titleSection;
        border-bottom-color: map-get($colors, secondaryColor);
    }
}

/*ubicaciones*/
#ubicaciones {
    h2 {
        @extend .titleSection;
        border-bottom-color: map-get($colors, fColor);
    }

    article {

        display: flex;
        flex-direction: column;

        iframe {
            width: 100vw;
            height: 70vh;
        }

        #direcciones {
            margin-top: 1rem;
            align-self: flex-start;

            h3 {
                text-align: left;
            }
        }

    }

}

/*contacto*/
#contacto {
    height: 80vh;
    h2 {
        @extend .titleSection;
        border-bottom-color: map-get($colors, green);
    }
    article{
        background-color: black;
    }
}

footer {
    background: map-get($colors , primaryColor);
}



@media screen and (max-width: 520px) {

    /*mobile*/
    header {
        height: 1vh;
    }

    #titulo {
        font-size: 2rem;
        top: 10%;

    }

    /*nav*/
    nav {
        div {
            #logo {
                text-align: center;
                width: 80%;
                padding-left: 4rem;

                img {
                    width: 80px;
                    height: 70px;
                }
            }

            button {
                width: 10%;
            }
        }

    }


    /*Nosotros*/
    #nosotros {
        h2 {
            width: 100%;
        }

        div {
            padding: 0rem;

            p {
                text-align: justify;
                width: 100%;
                margin: 0rem;
            }
        }
    }

    /*productos*/
    #productos {
        h2 {
            width: 100%;
        }

        div {
            padding: 0rem;

            p {
                text-align: justify;
                width: 100%;
            }
        }
    }

    #ubicaciones {
        h2 {
            width: 100%;
        }

        article {
            iframe {
                height: 90vh;
            }
        }
    }
}


@media screen and (max-width: 720px) {
    nav {
        #titleLogo {
            display: none;
        }

        img {
            width: 80px;
            height: 70px;
        }
    }

    #imgIndex {
        width: auto;
        height: 100%;
    }

    #titulo {
        font-size: 1.5rem;
        top: 20%;
    }
}

@media screen and (max-width: 1024px)

/*mobile*/
    {
    #titulo {
        font-size: 4rem;
        top: 20%;
    }
}